* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(120deg, #121215, #ff2525da, #121215);
}
nav {
  position: fixed;
  background: #121215;
  height: 80px;
  width: 100%;
}
label.logo {
  color: #ff0000;
  font-size: 40px;
  line-height: 80px;
  padding: 0 50px 0 50px;
  font-weight: bold;
}
nav .u {
  float: right;
  margin-right: 20px;
  align-items: center;
}
nav .u .l {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav .u .l a {
  color: #ff0000;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
span {
  background: #ff0000;
  padding: 2px 1px;
  width: 25px;
  margin: 3px;
  display: flex;
}
#check {
  display: none;
}
.espaco {
  margin: 0 0 100px 0;
  padding: 5px 0;
  width: 100%;
}
.sobre {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #121215;
  border-radius: 30px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.eu1 {
  width: 60%;
  color: #ff0000;
  font-size: 30pt;
}
.eu2 {
  display: flex;
  justify-content: center;
  width: 80%;
  color: #aaaaaa;
  font-size: 30pt;
  margin: 20px 0 0 20px;
}
.eu3 {
  display: flex;
  justify-content: center;
  width: 80%;
  color: #aaaaaa;
  font-size: 30pt;
  margin: 20px 0 0 20px;
}
.cont-ms {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121215;
}
.ms {
  width: 50%;
  border: solid 10px #ff0000;
  border-radius: 50%;
}
.mls {
  width: 100%;
  margin: 10px;
}
.ml {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ls {
  list-style: none;
}
.s {
  text-decoration: none;
  text-transform: uppercase;
}
.i{
  width: 90px;
}
.areadeprojetos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.titulo {
  font-size: 35px;
  color: #121215;
}
.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: transporte;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.menuprojeto {
  display: flex;
  width: 92%;
  border: solid 1px rgb(0, 0, 0);
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: rgb(30, 30, 30);
}
.mp {
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 8px;
  color: black;
  background: #ff0000;
}
.habilidades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.h {
  padding: 10px;
  width: 150px;
  background: #121215;
  background: transporte;
  border-radius: 15px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.direitos-p {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #121215;
}
.direitos-p p {
  padding: 50px;
  font-size: 20px;
  color: #ffffff;
}
@media (max-width: 995px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav .u .l a {
    font-size: 16px;
  }
  .checkbtn {
    display: block;
    margin-top: 25px;
  }
  .u {
    justify-content: center;
    position: fixed;
    width: 40%;
    border-radius: 25px;
    background: #121215;
    top: 65px;
    left: +100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav .u .l {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav .u .l a {
    font-size: 20px;
  }
  #check:checked ~ .u {
    left: 60%;
  }
  .i {
    height: 60px;
  }
  .sobre {
    display: block;
    background: none;
    box-shadow: none;
  }
  .cont-ms {
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  }
  .eu1,
  .eu2,
  .eu3 {
    width: 90%;
    color: #aaaaaa;
    font-size: 20pt;
    margin: 20px 0 0 20px;
  }
  .ms {
    width: 70%;
    margin: 0 0 0 15px;
  }
  .i{
    width: 55px;
  }
  .direitos-p p {
    font-size: 10px;
  }
}
